
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="genres-heading">
            <h1>Top Genres</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="genres-box">
            <img class="img-genres" src="~/Images/genres/img1.jpg" alt="">
            <div class=" main_overlay">
                <div class="box_overlay"></div>
                <div class="play_icon">
                    <img src="~/Images/svg/play.svg" alt="">
                </div>
                <div class="text-overlay">
                    <span class="text_left"><a href="">Romatic</a> </span>
                    <span class="text_right"><a href="">View song</a> </span>
                </div>
            </div>
            <div class="main-overlay-on">
                <div class="text-overlay-on">
                    <span class="text_left">Romatic</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="genres-center">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="genres-box">
                        <img class="img-genres" src="~/Images/genres/img2.jpg" alt="">
                        <div class=" main_overlay">
                            <div class="box_overlay"></div>
                            <div class="play_icon">
                                <img src="~/Images/svg/play.svg" alt="">
                            </div>
                            <div class="text-overlay">
                                <span class="text_left"><a href="">Romatic</a> </span>
                                <span class="text_right"><a href="">view song</a> </span>
                            </div>
                        </div>
                        <div class=" main-overlay-on">
                            <div class="text-overlay-on">
                                <span class="text_left">Romatic</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="genres-box">
                        <img class="img-genres" src="~/Images/genres/img3.jpg" alt="">
                        <div class="main_overlay">
                            <div class="box_overlay"></div>
                            <div class="play_icon">
                                <img src="~/Images/svg/play.svg" alt="">
                            </div>
                            <div class="text-overlay">
                                <span class="text_left"><a href="">Romatic</a> </span>
                                <span class="text_right"><a href="">View song</a> </span>
                            </div>
                        </div>
                        <div class="main-overlay-on">
                            <div class="text-overlay-on">
                                <span class="text_left">Romatic</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="genres-center">
                <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="genres-box">
                        <img class="img-genres" src="~/Images/genres/img5.jpg" alt="">
                        <div class="main_overlay">
                            <div class="box_overlay"></div>
                            <div class="play_icon">
                                <img src="~/Images/svg/play.svg" alt="">
                            </div>
                            <div class="text-overlay">
                                <span class="text_left"><a href="">Romatic</a> </span>
                                <span class="text_right"><a href="">View song</a> </span>
                            </div>
                        </div>
                        <div class="main-overlay-on">
                            <div class="text-overlay-on">
                                <span class="text_left">Romatic</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="genres-box">
                        <img class="img-genres" src="~/Images/genres/img6.jpg" alt="">
                        <div class="main_overlay">
                            <div class="box_overlay"></div>
                            <div class="play_icon">
                                <img src="~/Images/svg/play.svg" alt="">
                            </div>
                            <div class="text-overlay">
                                <span class="text_left"><a href="">Romatic</a> </span>
                                <span class="text_right"><a href="">View song</a> </span>
                            </div>
                        </div>
                        <div class="main-overlay-on">
                            <div class="text-overlay-on">
                                <span class="text_left">Romatic</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="genres-box">
            <img class="img-genres" src="~/Images/genres/img4.jpg" alt="">
            <div class="main_overlay">
                <div class="box_overlay"></div>
                <div class="play_icon">
                    <img src="~/Images/svg/play.svg" alt="">
                </div>
                <div class="text-overlay">
                    <span class="text_left"><a href="">Romatic</a> </span>
                    <span class="text_right"><a href="">View song</a> </span>
                </div>
            </div>
            <div class="main-overlay-on">
                <div class="text-overlay-on">
                    <span class="text_left">Romatic</span>
                </div>
            </div>
        </div>
    </div>
</div>