<div class="row">
    <div class="col-lg-12">
        <div class="week-heading">
            <h1>Weekly top 15</h1>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 padding_right_40">
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">01</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Until I Met You</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">02</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song2.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Walking Promises</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">03</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song3.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Gimme Some Courage</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">04</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song4.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Desired Games</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">05</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song5.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Dark Alley Acoustic</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
    </div>
    <div class="col-md-12 col-lg-4 padding_right_40">
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">06</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song6.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Walking Promises</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">07</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song7.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Endless Things</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">08</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song8.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Dream Your Moments</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">09</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song9.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Until I Met You</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">10</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song10.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Gimme Some Courage</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
    </div>
    <div class="col-md-12 col-lg-4 padding_right_40">
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">11</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song11.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Dark Alley Acoustic</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">12</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song12.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">The Heartbeat Stops</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">13</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song13.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">One More Stranger</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">14</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song14.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Walking Promises</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
        <div class="weeky-box">
            <div class="weeky-left">
                <span class="w-top-no">15</span>
                <div class="w-top-song">
                    <div class="w-top-song-img">
                        <img src="~/Images/songs/song11.jpg" alt="">
                        <div class="icon-play">
                            <img src="~/Images/svg/play.svg" alt="">
                        </div>
                    </div>
                    <div class="w-top-song-name">
                        <h3><a href="">Endless Things</a></h3>
                        <p>Ava Cornish</p>
                    </div>
                </div>
            </div>
            <div class="weeky-right">
                <span class="song_time">5:10</span>
                <div class="main_overlay">
                    <div class="more_icon more_option">
                        <span class="more_option"><img src="~/Images/svg/more.svg" alt=""></span>
                    </div>
                    <ul class="more-option">
                        <li>
                            <a href="">
                                <span><i class="far fa-heart"></i></span>
                                Add To Favourites
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-plus"></i></span>
                                Add To Queue
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-list"></i></span>
                                Add To Playlist
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span><i class="fas fa-share-alt"></i></span>
                                share
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-divider"></div>
    </div>
</div>
