<div class="player_close">
    <i class="glyphicon glyphicon-chevron-down"></i>
</div>
<div class="player_mid">
    <div class="player_left">
        <div class="play_song">
            <a href="">
                <div class="track-name">
                    <span class="que_img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </span>
                    <div class="que_data">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="play_song_options">
            <ul>
                <li>
                    <a href="">
                        <span class="song_optn_icon"><i class="far fa-heart"></i></span>
                        Add To Favourites
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="song_optn_icon"><i class="glyphicon glyphicon-plus"></i></span>
                        Add To Playlist
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="song_optn_icon"><i class="fas fa-share-alt"></i></span>
                        Share
                    </a>
                </li>
            </ul>
        </div>
        <span class="play-left-arrow">
            <i class="fas fa-chevron-right"></i>
        </span>
    </div>
    <div class="queue">
        <span class="que_button">queue</span>
        <div class="playlist-wrap">
            <div class="queue-top">
                <div class="queue-close">
                    <i class="glyphicon glyphicon-remove"></i>
                </div>
                <h2>queue</h2>
            </div>
            <div class="queue-detail" id="style-scrollbar">
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
                <div class="song-block">
                    <div class="song-img">
                        <img src="~/Images/songs/song1.jpg" alt="">
                    </div>
                    <div class="song-name">
                        Play Date
                        <div class="artist-name">Melanie Martinez</div>
                    </div>
                    <div class="song-option">
                        <span><i class="glyphicon glyphicon-option-horizontal"></i></span>
                        <span class="song-close"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                </div>
            </div>
            <div class="queue-bottom">
                <a class="que_button">Clear</a>
                <a class="que_button">Save</a>
            </div>
        </div>
    </div>
    <div class="type_playlist">
        <div class="interface flex-wrap">
            <div class="audio-controls">
                <button class="backward">
                    <i class="fas fa-backward"></i>
                </button>
                <button id="playButton">
                    <i class="far fa-play-circle"></i>
                    <i class="far fa-pause-circle"></i>
                </button>
                <button class="forward">
                    <i class="fas fa-forward"></i>
                </button>
            </div>
            <div class="playbar-box">
                <audio id="myTrack">
                    <source src="audio/Play Date - Melanie Martinez.mp3" type="audio/mp3" />
                </audio>
                <div class="play-content">
                    <div id="defultBar">
                        <div id="progressBar"></div>
                    </div>
                </div>
                <div class="timer-text">
                    <span id="currentTime">00:00</span>
                    <span id="fullDuration">00:00</span>
                </div>
            </div>

            <div class="volume">
                <button type="button" id="muteButton">
                    <i class="fas fa-volume-up"></i>
                    <i class="fas fa-volume-mute"></i>
                </button>
            </div>
            <div class="toggles">
                <button class="shuffle">
                    <i class="fas fa-random"></i>
                </button>
                <button class="refresh">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
</div>
