<div class="nav-close">
    <i class="glyphicon glyphicon-menu-left"></i>
</div>
<div class="sidemenu_inner">
    <div class="logo_inner">
        <a href="index.html">
            <img src="~/Images/logo_music.png" alt="">
        </a>
    </div>
    <div class="nav-wrapper" id="style-scrollbar">
        <ul class="nav-top">
            <li class="active">
                <a href="~/Home/Index">
                    <span class="icon_title">
                        <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <span class="nav-title">
                        discover
                    </span>
                </a>
            </li>
            <li>
                <a href="album.html">
                    <span class="icon_title">
                        <i class="far fa-list-alt"></i>
                    </span>
                    <span class="nav-title">
                        albums
                    </span>
                </a>
            </li>
            <li>
                <a href="artists.html">
                    <span class="icon_title">
                        <i class="fas fa-microphone"></i>
                    </span>
                    <span class="nav-title">
                        artists
                    </span>
                </a>
            </li>
            <li>
                <a href="genres.html">
                    <span class="icon_title">
                        <i class="far fa-folder-open"></i>
                    </span>
                    <span class="nav-title">
                        genres
                    </span>
                </a>
            </li>
            <li>
                <a href="top_track.html">
                    <span class="icon_title">
                        <i class="far fa-gem"></i>
                    </span>
                    <span class="nav-title">
                        top tracks
                    </span>
                </a>
            </li>
        </ul>
        <ul class="nav-playlist">
            <li>
                <a href="favourite.html">
                    <span class="icon_title">
                        <i class="far fa-heart"></i>
                    </span>
                    <span class="nav-title">
                        Favourites
                    </span>
                </a>
            </li>
            <li>
                <a href="feature_playlist.html">
                    <span class="icon_title">
                        <i class="glyphicon glyphicon-th-large"></i>
                    </span>
                    <span class="nav-title">
                        feature playlist
                    </span>
                </a>
            </li>
            <li>
                <a href="add_playlist.html">
                    <span class="icon_title">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="nav-title">
                        create playlist
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
