<div class="footer-wrapper">
    <div class="footer-content">
        <div class="footer-heading">
            <img src="~/Images/logo_music.png" alt="">
            <h3>Music World</h3>
        </div>
        <div class="footer-inner">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="block block-music">
                        <h1 class="footer-title">Music World</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="block block-download">
                        <h1 class="footer-title">Download Our App</h1>
                        <p>
                            Go Mobile with our app.<br>
                            Listen to your favourite songs at just one click. Download Now !
                        </p>
                        <a href=""><img src="~/Images/footer/app_store.jpg" alt=""></a>
                        <a href=""><img src="~/Images/footer/google_play.jpg" alt=""></a>
                        <a href=""><img src="~/Images/footer/windows.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="block block-sub">
                        <h1 class="footer-title">Subscribe</h1>
                        <p>
                            Subscribe to our newsletter and get <br>

                            latest updates and offers.
                        </p>
                        <form action="" method="POST" role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Name">
                                <input type="text" class="form-control" placeholder="Enter Your Mail">
                            </div>
                            <a class="btn btn-primary">Sign Me Up</a>
                        </form>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="block block-contact">
                        <h1 class="footer-title">Contact Us</h1>
                        <ul>
                            <li>
                                <div class="footer-icon">
                                    <img src="~/Images/footer/contact/phone.svg" alt="">
                                </div>
                                <div class="footer-data">
                                    <span>Call us: </span>
                                    <span>(+84) 0984379209</span>
                                </div>
                            </li>
                            <li>
                                <div class="footer-icon">
                                    <img src="~/Images/footer/contact/message.svg" alt="">
                                </div>
                                <div class="footer-data">
                                    <span>Email Us :</span>
                                    <span>
                                        <a href="">email@gmail.com</a>
                                        <a href="">mail@gmail.com</a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="footer-icon">
                                    <img src="~/Images/footer/contact/add.svg" alt="">
                                </div>
                                <div class="footer-data">
                                    <span>Walk In: </span>
                                    <span>238 Hoàng Quốc Việt, Cổ Nhuế, Cầu Giấy, Hà Nội</span>
                                </div>
                            </li>
                        </ul>
                        <div class="social">
                            <span>Follow Us: </span>
                            <ul>
                                <li><a href=""><i class="fab fa-facebook-f"></a></i></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
