<div class="modal fade" id="register">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-body">
                <div class="register_img">
                    <img src="~/Images/register_img.png" class="img-responsive" alt="">
                </div>
                <div class="register_form">
                    <form action="" method="POST" role="form" name="MyFormResgister">
                        <div class="heading-slider">
                            <h1>register <span>/</span> sign up</h1>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Name" name="name"
                                   ng-model="fname" required minlength="3">
                            <span><i class="far fa-user"></i></span>
                            <div ng-if="MyFormResgister.name.$dirty" class="err">
                                <div ng-if="MyFormResgister.name.$error.required">
                                    <span class="glyphicon glyphicon-remove"></span> Họ và tên không được để trống!
                                </div>
                                <div ng-if="MyFormResgister.name.$error.minlength">
                                    <span class="glyphicon glyphicon-remove"></span> Name không hợp lệ!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" ng-model="_email" required
                                   placeholder="Enter Your Email">
                            <span><i class="far fa-envelope"></i></span>

                            <div ng-if="MyFormResgister.email.$dirty" class="err">
                                <div ng-if="MyFormResgister.email.$error.required">
                                    <span class="glyphicon glyphicon-remove"></span> Email không được để trống!
                                </div>
                                <div ng-if="MyFormResgister.email.$error.email">
                                    <span class="glyphicon glyphicon-remove"></span> Email không đúng định dạng!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="pass" placeholder="Enter Password"
                                   ng-model="password" required minlength="8">
                            <span><i class="fas fa-lock"></i></span>
                            <div ng-if="MyFormResgister.pass.$dirty" class="err">
                                <div ng-if="MyFormResgister.pass.$error.required">
                                    <span class="glyphicon glyphicon-remove"></span> Password không được để trống!
                                </div>
                                <div ng-if="MyFormResgister.pass.$error.minlength">
                                    <span class="glyphicon glyphicon-remove"></span> Password ít nhất 8 ký tự!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" name="rp_pss"
                                   ng-model="_rp_pass" required password-match="password">
                            <span><i class="fas fa-lock"></i></span>
                            <div ng-if="MyFormResgister.rp_pss.$dirty" class="err">
                                <div ng-if="MyFormResgister.rp_pss.$error.required">
                                    <span class="glyphicon glyphicon-remove"></span> Repeat Password không được để trống!
                                </div>
                                <div ng-if="MyFormResgister.rp_pss.$error.unique">
                                    <span class="glyphicon glyphicon-remove"></span> Mật khẩu không khớp !
                                </div>
                            </div>
                        </div>
                        <a type="button" ng-disabled="MyFormResgister.$invalid" class="btn btn-submit">
                            Register now
                        </a>
                        <p>Already Have An Account? <a data-toggle="modal" href='#login'>Login here</a></p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>